<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mercadopago.android.px"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>

    <application android:allowBackup="true">
        <activity
            android:name=".internal.features.PaymentMethodsActivity"
            android:label="@string/px_title_activity_payment_methods"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.BankDealsActivity"
            android:label="@string/px_title_activity_bank_deals"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.TermsAndConditionsActivity"
            android:label="@string/px_title_activity_terms_and_conditions"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.CheckoutActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.guessing_card.GuessingCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".internal.features.PaymentVaultActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.InstallmentsActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.IssuersActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.cardvault.CardVaultActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.ErrorActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.paymentresult.PaymentResultActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.SecurityCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".internal.features.PaymentTypesActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.ReviewPaymentMethodsActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.PayerInformationActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.hooks.HookActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.plugins.PaymentMethodPluginActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.plugins.PaymentProcessorActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.business_result.BusinessPaymentResultActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.review_and_confirm.ReviewAndConfirmActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.BankDealDetailActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.guessing_card.card_association_result.CardAssociationResultSuccessActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity
            android:name=".internal.features.guessing_card.card_association_result.CardAssociationResultErrorActivity"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
    </application>

</manifest>